/********************* ReactCollapse *********************/
.ReactCollapse--collapse {
    transition: height 500ms;
}

/********************* AntDesign *********************/
/*ant-checkbox*/
.ant-checkbox-inner{
    border-color: #FBAD16 !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #FBAD16 !important;
    border-color: #FBAD16 !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner{
    border-color: #FBAD16 !important;
}
.ant-checkbox-checked::after{
    border-color: #FBAD16 !important;
    background-color: #FBAD16 !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after{
    background-color: #FBAD16 !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, 
.ant-checkbox:hover .ant-checkbox-inner, 
.ant-checkbox-input:focus + .ant-checkbox-inner{
    border-color: #FBAD16 !important;
}

/*ant-design radio button*/
.ant-radio-inner::after{
    background-color: #FBAD16 !important;
}
.ant-radio-checked .ant-radio-inner{
    border-color: #FBAD16 !important;
}
.ant-radio-checked::after{
    border-color: #FBAD16 !important;
}
.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner{
    border-color: #FBAD16 !important;
}
.ant-radio-input:focus + .ant-radio-inner{
    box-shadow: 0 0 0 3px #fdd689;
}
.ant-radio-wrapper{
    margin-right: 0 !important;
}

/*ant-notification*/
.ant-notification-notice-with-icon .ant-notification-notice-message{
    direction: rtl !important;
}

/*when a modal shows up*/
.ant-scrolling-eftcerrt{
    width: 100% !important;
}

/* SelectSearch */
.ant-select-selector{
    height: 100% !important;
    border-radius: 1rem !important;
    border: solid 2px #EAEAEA !important;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    box-shadow: none !important;
}
.ant-select-selection-item{
    display: flex !important;
    align-items: center !important;
}
.ant-select-selection-search{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.ant-select-selection-search-input{
    padding-top: 24px;
}
.ant-select-selection-placeholder{
    display: flex !important;
    align-items: center !important;
}

/*Pagination*/
.ant-pagination-item-active a{
	color: #FBAD16 !important;
}
.ant-pagination-item-active{
	border-color: #FBAD16 !important;
}
.ant-pagination-item:focus-visible a, .ant-pagination-item:hover a{
    color: #FBAD16 !important;
}

/*Modal*/
.ant-modal-body{
    padding: 0 !important;
}

/*Rate*/
.ant-rate-star-second{
    position: unset !important;
}
.ant-rate-star-second span{
    position: unset !important;
}
.ant-rate-star-second svg{
    position: unset !important;
}

/*Popover*/
.ant-popover-inner-content{
    padding: 0 !important;
}

/*Tree*/
.ant-tree{
    background-color: unset !important;
}

/*Dropdown*/
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{
    background-color: #F5DF4D !important;
}

/*Carousel*/
.slick-dots>li>button{
    background-color: gray !important;
    transform: scaleY(1.2) !important;
}

.slick-dots>.slick-active>button{
    background-color: #F5DF4D !important;
}